<!DOCTYPE html>
<html>
    <head>
        <title>
                INSOMNIA COOKIES
        </title>
        <meta charset="UTF-8">
    </head>
    <body>

        <!------------------------------------------------------------------------------------------------------------------>
        <!-- TITULO -->
        <titulo>Insomnia Cookies</titulo>

        <!------------------------------------------------------------------------------------------------------------------>
        <!-- BOTONES -->

        <div class="buttons">
        <!--    <a class="btn blue">Blue Button</a> -->
        <!--    <a class="btn green">Green Button</a> -->
            <a class="btn red" name="botonIngreso" id="open_ingreso">Ingresa</a>
            <a class="btn red" name="botonRegistro" id="open_registro">Registrate</a>
        <!--    <a class="btn purple">Purple Button</a> -->
        <!--    <a class="btn orange">Orange Button</a> -->
        <!--    <a class="btn yellow">Yellow Button</a> -->
        </div>
    
        <!------------------------------------------------------------------------------------------------------------------>
        <!-- VENTANAS -->
        <div class="modal-container-ingreso" id="modal_container_ingreso">
            <div class="ingreso">
                <h1>Ingreso</h1>
                <form action= "/ingreso/" class="formulario" name="formulario_ingreso" method="POST"> 
                    <input type="text" class="casillas" placeholder="Email" name="correoingreso">
                    <br/>
                    <input type="password" class="casillas" placeholder="Password" name="passwordingreso">
                    <br/>
                    <a href="#" class="link" id="ingreso_registro">No estas registrado?</a>
                    <br/><br/>
                    <button type="submit" class="btn green" name="AceptarIngreso" id="aceptar_ingreso">Ingresar</button>
                </form>
                <!--<button class="btn red" name="CerrarIngreso" id="close_ingreso">Cerrar</button>-->
                <a href="#" class="fas fa-times tamañoiconoingreso" name="CerrarIngreso" id="close_ingreso"></a>
            </div>
        </div>
        <div class="modal-container-registro" id="modal_container_registro">
            <div class="registro">
                <h1>Registro</h1>
                <form action="/registro/" class="formulario" name="formulario_registro" method="POST">
                    <input type="text" class="casillas" placeholder="Nombres" name="nombreregistro">
                    <br/>
                    <input type="text" class="casillas" placeholder="Apellidos" name="apellidoregistro">
                    <br/>
                    <input type="text" class="casillas" placeholder="Email" name="correoregistro">
                    <br/>
                    <input type="password" class="casillas" placeholder="Password" name="passwordregistro">
                    <br/>
                    <input type="password" class="casillas" placeholder="Confirme Password" name="confirmpasswordregistro">
                    <br/>
                    <a href="#" class="link" id="registro_ingreso">Ya estas registrado?</a>
                    <br/><br/>
                    <button type="submit" class="btn green" name="AceptarRegistro" id="aceptar_registro">Registro</button>
                </form>
                <a href="#" class="fas fa-times tamañoiconoregistro" name="CerrarRegistro" id="close_registro"></a>
            </div>
        </div>
    
        <!------------------------------------------------------------------------------------------------------------------>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="{{ url_for('static', filename='js/inicio.js') }}"> </script>
    </body>
</html>