<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>
    INSOMNIA COOKIES
    </title>
  <script src="https://use.typekit.net/vms5sey.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> 
</head>

<body>
  
<div class="slideShow">
  <ul class="slideShow__container">
    <li class="slideShow__slide">
      <figure class="slideShow__image" style="background-image:url('/static/img/menu01.jpg');"></figure>
      <div class="slideShow__titleWrap">
        <h2 class="slideShow__slideTitle">Barichara</h2>
        <div class="slideShow__slideSubTitle">La Abuelita</div>
      </div>
    </li>
    <li class="slideShow__slide">
      <figure class="slideShow__image" style="background-image:url('/static/img/menu02.jpg');"></figure>
      <div class="slideShow__titleWrap">
        <h2 class="slideShow__slideTitle">Tayrona</h2>
        <div class="slideShow__slideSubTitle">La playa</div>
      </div>
    </li>
    <li class="slideShow__slide">
      <figure class="slideShow__image" style="background-image:url('/static/img/menu03.jpg');"></figure>
      <div class="slideShow__titleWrap">
        <h2 class="slideShow__slideTitle">Santa Marta</h2>
        <div class="slideShow__slideSubTitle">El Burro</div>
      </div>
    </li>
    <li class="slideShow__slide">
      <figure class="slideShow__image" style="background-image:url('/static/img/menu04.jpg');"></figure>
      <div class="slideShow__titleWrap">
        <h2 class="slideShow__slideTitle">Salento</h2>
        <div class="slideShow__slideSubTitle">La vista</div>
      </div>
    </li>
  </ul>
  <div class="slideShow__next"><i class="fa fa-angle-right"></i></div>
  <div class="slideShow__prev"><i class="fa fa-angle-left"></i></div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'></script>
<!--  <script src='http://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/SplitText.min.js'></script>-->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
<script src="{{ url_for('static', filename='js/menu.js') }}"> </script>

</body>
</html>
