<!DOCTYPE html>
<html >
      <head>
            <title>
            INSOMNIA COOKIES - MENU
            </title>
            <meta charset="UTF-8">
      </head>
      <body>  
        <div class="topnav">
          <h2>Insomnia Cookies</h2>
          <h2>Menu</h2>
          <input type="text" placeholder="Busqueda">
        </div>
        
        <!------------------------------------------------------------------------------------------------------------------>
        <!-- BOTONES -->

        <button class="tablink" onclick="openPage('Menu1', this, 'rgb(65, 65, 65)')">Menu 1</button>
        <button class="tablink" onclick="openPage('Menu2', this, 'rgb(65, 65, 65)')" id="defaultOpen">Menu 2</button>
        <button class="tablink" onclick="openPage('Menu3', this, 'rgb(65, 65, 65)')">Menu 3</button>
        <button class="tablink" onclick="openPage('Menu4', this, 'rgb(65, 65, 65)')">Menu 4</button>
        
        <!------------------------------------------------------------------------------------------------------------------>
        <!-- VENTANAS -->
        
        <div id="Menu1" class="tabcontent">
          <h3>Menu 1</h3>
          <p>Home is where the heart is..</p>
        </div>
        
        <div id="Menu2" class="tabcontent">
          <h3>Menu 2</h3>
          <p>Some news this fine day!</p>
        </div>
        
        <div id="Menu3" class="tabcontent">
          <h3>Menu 3</h3>
          <p>Get in touch, or swing by for a cup of coffee.</p>
        </div>
        
        <div id="Menu4" class="tabcontent">
          <h3>Menu 4</h3>
          <p>Who we are and what we do.</p>
        </div>

        <!------------------------------------------------------------------------------------------------------------------>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
        <script src="{{ url_for('static', filename='js/menu.js') }}"> </script>
      </body>
</html>